body {
    margin: 0;
    background: rgb(187, 168, 168);
    text-align: center;
    color: #ddd;
    font-family: Signika Negative, Asap, sans-serif;
}
#trackBarContainer,
svg {
    display: block;
    position: relative;
    margin: 20px auto;
}
#cursor {
    fill: rgb(0, 0, 0);
    stroke-width: 7pt;
    stroke: rgb(255, 0, 0);
    stroke-linejoin: round;
    cursor: grab;
}
#units {
    font-size: 2em;
    fill: white;
    user-select: none;
}
#bigTicks {
    stroke-width: 3px;
    stroke: white;
}
#smallTicks {
    stroke-width: 1px;
    stroke: white;
}
#level {
    font-size: 1em;
    font-weight: bold;
    width: 70px;
    border: rgb(187, 168, 168);
    border-radius: 8px;
    text-align: center;
    background: rgb(187, 168, 168);
}